
bin/Debug/Giercxa.exe
obj/Debug/main.o
bin/Debug/Giercxa.exe
obj/Debug/main.o
Giercxa.depend
bin/Debug/Giercxa.exe
bin/Debug/Giercxa.exe
character.txt
Giercxa.depend
Giercxa.layout
obj/Debug/main.o
bin/Debug/Giercxa.exe
bin/Debug/libgcc_s_seh-1.dll
bin/Debug/libstdc++-6.dll
bin/Debug/libwinpthread-1.dll
Giercxa.depend
obj/Debug/main.o
